# Data Consistency Checks

## This script contains the following points:

### 1. Import Libraries

### 2. Import Data

### 3. Data Consistency Checks

#### 3.1 Data Types

#### 3.2 Missing Data

#### 3.3 Duplicate Data

#### 3.4 Aggregate Data

### 4. Export Data

## 1. Import Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## 2. Import Data

In [2]:
# Creating path string to data folder
path = r'C:\Users\bexlu\Desktop\Career Foundry\Data Immersion\Achievement 6\Project Folder'

In [3]:
# Importing csv file using os library
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'Hate Crimes.csv'), index_col = False)

C:\Users\bexlu\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
# Print of first five rows of df
df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,NaN,City,AR,Arkansas,West South Central,South,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,NaN,City,AR,Arkansas,West South Central,South,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [5]:
# Check shape of dataframe
df.shape

(209442, 28)

## 3. Data Consistency Checks

### 3.1 Data Types

In [6]:
# Print of names of columns
df.columns

Index(['INCIDENT_ID', 'DATA_YEAR', 'ORI', 'PUB_AGENCY_NAME', 'PUB_AGENCY_UNIT',
       'AGENCY_TYPE_NAME', 'STATE_ABBR', 'STATE_NAME', 'DIVISION_NAME',
       'REGION_NAME', 'POPULATION_GROUP_CODE', 'POPULATION_GROUP_DESC',
       'INCIDENT_DATE', 'ADULT_VICTIM_COUNT', 'JUVENILE_VICTIM_COUNT',
       'TOTAL_OFFENDER_COUNT', 'ADULT_OFFENDER_COUNT',
       'JUVENILE_OFFENDER_COUNT', 'OFFENDER_RACE', 'OFFENDER_ETHNICITY',
       'VICTIM_COUNT', 'OFFENSE_NAME', 'TOTAL_INDIVIDUAL_VICTIMS',
       'LOCATION_NAME', 'BIAS_DESC', 'VICTIM_TYPES', 'MULTIPLE_OFFENSE',
       'MULTIPLE_BIAS'],
      dtype='object')

In [7]:
# Print of number of rows and columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209442 entries, 0 to 209441
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   INCIDENT_ID               209442 non-null  int64
 1   DATA_YEAR                 209442 non-null  int64
 2   ORI                       209442 non-null  object
 3   PUB_AGENCY_NAME           209442 non-null  object
 4   PUB_AGENCY_UNIT           5956 non-null    object
 5   AGENCY_TYPE_NAME          209442 non-null  object
 6   STATE_ABBR                209442 non-null  object
 7   STATE_NAME                209442 non-null  object
 8   DIVISION_NAME             209442 non-null  object
 9   REGION_NAME               209442 non-null  object
 10  POPULATION_GROUP_CODE     209442 non-null  object
 11  POPULATION_GROUP_DESC     209442 non-null  object
 12  INCIDENT_DATE             209442 non-null  object
 13  ADULT_VICTIM_COUNT        42562 non-null   float64
 14  JUVENILE_VICTIM_COUNT     41629 non-null   float64
 15  TOTAL_OFFENDER_COUNT      209442 non-null  int64
 16  ADULT_OFFENDER_COUNT      39720 non-null   float64
 17  JUVENILE_OFFENDER_COUNT   39713 non-null   float64
 18  OFFENDER_RACE             209422 non-null  object
 19  OFFENDER_ETHNICITY        25300 non-null   object
 20  VICTIM_COUNT              209442 non-null  int64
 21  OFFENSE_NAME              209442 non-null  object
 22  TOTAL_INDIVIDUAL_VICTIMS  206832 non-null  float64
 23  LOCATION_NAME             209442 non-null  object
 24  BIAS_DESC                 209442 non-null  object
 25  VICTIM_TYPES              209442 non-null  object
 26  MULTIPLE_OFFENSE          209442 non-null  object
 27  MULTIPLE_BIAS             209442 non-null  object
dtypes: float64(5), int64(4), object(19)
memory usage: 44.7+ MB

In [7]:
# Apply advanced python function that checks df for mixed type columns
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

PUB_AGENCY_UNIT
OFFENDER_RACE
OFFENDER_ETHNICITY

In [8]:
# Change data type of 'PUB_AGENCY_UNIT' column to string
df['PUB_AGENCY_UNIT'] = df['PUB_AGENCY_UNIT'].astype('str')

In [9]:
# Check data type of 'PUB_AGENCY_UNIT' column
df['PUB_AGENCY_UNIT'].dtype

dtype('O')

In [10]:
# Change data type of 'OFFENDER_RACE' column to string
df['OFFENDER_RACE'] = df['OFFENDER_RACE'].astype('str')

In [11]:
# Check data type of 'OFFENDER_RACE' column
df['OFFENDER_RACE'].dtype

dtype('O')

In [12]:
# Change data type of 'OFFENDER_ETHNICITY' column to string
df['OFFENDER_ETHNICITY'] = df['OFFENDER_ETHNICITY'].astype('str')

In [13]:
# Check data type of 'OFFENDER_ETHNICITY' column
df['OFFENDER_ETHNICITY'].dtype

dtype('O')

In [14]:
# Apply advanced python function that checks df for mixed type columns
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [15]:
# Print of first five rows of df
df.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,PUB_AGENCY_UNIT,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,nan,City,AR,Arkansas,West South Central,South,...,White,nan,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,nan,City,AR,Arkansas,West South Central,South,...,Black or African American,nan,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,nan,City,AR,Arkansas,West South Central,South,...,Black or African American,nan,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,nan,City,AR,Arkansas,West South Central,South,...,Black or African American,nan,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,nan,City,AR,Arkansas,West South Central,South,...,Black or African American,nan,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

In [16]:
# replace 'nan' values with 'NaN' for consistency
df_1 = df.replace('nan', np.NaN)

In [17]:
# Change data type of 'INCIDENT_ID' column to string as doesn't represent number with statistical importance
df_1['INCIDENT_ID'] = df_1['INCIDENT_ID'].astype('str')

### 3.2 Missing Data

In [18]:
# Find missing values in df
df_1.isnull().sum()

INCIDENT_ID                      0
DATA_YEAR                        0
ORI                              0
PUB_AGENCY_NAME                  0
PUB_AGENCY_UNIT             203486
AGENCY_TYPE_NAME                 0
STATE_ABBR                       0
STATE_NAME                       0
DIVISION_NAME                    0
REGION_NAME                      0
POPULATION_GROUP_CODE            0
POPULATION_GROUP_DESC            0
INCIDENT_DATE                    0
ADULT_VICTIM_COUNT          166880
JUVENILE_VICTIM_COUNT       167813
TOTAL_OFFENDER_COUNT             0
ADULT_OFFENDER_COUNT        169722
JUVENILE_OFFENDER_COUNT     169729
OFFENDER_RACE                   20
OFFENDER_ETHNICITY          184142
VICTIM_COUNT                     0
OFFENSE_NAME                     0
TOTAL_INDIVIDUAL_VICTIMS      2610
LOCATION_NAME                    0
BIAS_DESC                        0
VICTIM_TYPES                     0
MULTIPLE_OFFENSE                 0
MULTIPLE_BIAS                    0
dtype: int64

In [19]:
# Create new dataframe dropping columns with too many missing values
df_drop = df_1.drop(columns = ['PUB_AGENCY_UNIT','ADULT_VICTIM_COUNT','JUVENILE_VICTIM_COUNT','ADULT_OFFENDER_COUNT','JUVENILE_OFFENDER_COUNT'])

In [20]:
# Check shape of dataframe
df_drop.shape

(209442, 23)

In [21]:
# Check head of dataframe
df_drop.head()

,INCIDENT_ID,DATA_YEAR,ORI,PUB_AGENCY_NAME,AGENCY_TYPE_NAME,STATE_ABBR,STATE_NAME,DIVISION_NAME,REGION_NAME,POPULATION_GROUP_CODE,...,OFFENDER_RACE,OFFENDER_ETHNICITY,VICTIM_COUNT,OFFENSE_NAME,TOTAL_INDIVIDUAL_VICTIMS,LOCATION_NAME,BIAS_DESC,VICTIM_TYPES,MULTIPLE_OFFENSE,MULTIPLE_BIAS
0,3015,1991,AR0040200,Rogers,City,AR,Arkansas,West South Central,South,5,...,White,NaN,1,Intimidation,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-Black or African American,Individual,S,S
1,3016,1991,AR0290100,Hope,City,AR,Arkansas,West South Central,South,6,...,Black or African American,NaN,1,Simple Assault,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,S,S
2,43,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,Black or African American,NaN,1,Aggravated Assault,1.0,Residence/Home,Anti-Black or African American,Individual,S,S
3,44,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,Black or African American,NaN,2,Aggravated Assault;Destruction/Damage/Vandalis...,1.0,Highway/Road/Alley/Street/Sidewalk,Anti-White,Individual,M,S
4,3017,1991,AR0350100,Pine Bluff,City,AR,Arkansas,West South Central,South,3,...,Black or African American,NaN,1,Aggravated Assault,1.0,Service/Gas Station,Anti-White,Individual,S,S

### 3.3 Duplicate Data

In [22]:
# Search for duplicated rows in df_drop and create a subset that contains only these rows
df_dups = df_drop[df_drop.duplicated()]

In [23]:
# Visualise df_dups subset that contains duplicated rows
df_dups

Empty DataFrame
Columns: [INCIDENT_ID, DATA_YEAR, ORI, PUB_AGENCY_NAME, AGENCY_TYPE_NAME, STATE_ABBR, STATE_NAME, DIVISION_NAME, REGION_NAME, POPULATION_GROUP_CODE, POPULATION_GROUP_DESC, INCIDENT_DATE, TOTAL_OFFENDER_COUNT, OFFENDER_RACE, OFFENDER_ETHNICITY, VICTIM_COUNT, OFFENSE_NAME, TOTAL_INDIVIDUAL_VICTIMS, LOCATION_NAME, BIAS_DESC, VICTIM_TYPES, MULTIPLE_OFFENSE, MULTIPLE_BIAS]
Index: []

[0 rows x 23 columns]

In [24]:
# There are no duplicated rows

### 3.4 Aggregate Data

In [25]:
# Find count of crimes by state
df_drop.groupby('STATE_NAME').agg({'DATA_YEAR':['count']})

                     DATA_YEAR
                         count
STATE_NAME
Alabama                    210
Alaska                     231
Arizona                   6482
Arkansas                  1089
California               34911
Colorado                  4043
Connecticut               3567
Delaware                   914
District of Columbia      1576
Federal                     87
Florida                   5081
Georgia                   1043
Guam                         5
Hawaii                      85
Idaho                     1202
Illinois                  5446
Indiana                   1953
Iowa                       860
Kansas                    1728
Kentucky                  3197
Louisiana                  542
Maine                     1238
Maryland                  5648
Massachusetts            10801
Michigan                 11834
Minnesota                 4511
Mississippi                180
Missouri                  3108
Montana                    670
Nebraska                  1033
Nevada                    1681
New Hampshire              631
New Jersey               19524
New Mexico                 544
New York                 19543
North Carolina            2474
North Dakota               410
Ohio                      8548
Oklahoma                  1422
Oregon                    4303
Pennsylvania              3433
Rhode Island               862
South Carolina            1982
South Dakota               566
Tennessee                 4027
Texas                     7996
Utah                      1647
Vermont                    505
Virginia                  5419
Washington                8059
West Virginia              914
Wisconsin                 1519
Wyoming                    158

In [35]:
# Find count of crimes by year
df_drop.groupby('DATA_YEAR').agg({'STATE_NAME':['count']})

          STATE_NAME
               count
DATA_YEAR
1991            4589
1992            6667
1993            7608
1994            5954
1995            7950
1996            8790
1997            8107
1998            7902
1999            7944
2000            8219
2001            9730
2002            7485
2003            7545
2004            7685
2005            7411
2006            7716
2007            7625
2008            8039
2009            6613
2010            6631
2011            6300
2012            6594
2013            6044
2014            5599
2015            5879
2016            6273
2017            7325
2018            7190
2019            8028

## 4. Export Data

In [28]:
# Export df_drop and save to 'Prepared Data'
df_drop.to_csv(os.path.join(path, '02 Data', 'Prepared Data', 'hate_crime_clean.csv'))